@media (max-width: 320px) {

  body {
    font-family: sans-serif;
    font-size: 24px;
    width: 320px;
    padding: 0;
    margin: 0;
    text-align: left;
    line-height: 1.5;

  }

  p, address {
    line-height: 1.5;
  }

  #container {
    border: 0;
    max-width: 300px;
    margin: 0;
    padding: 0.5em;
  }

  header h1 {
    font-size: 125%;
    line-height: 1.5;
  }

nav {
  margin: 0 auto;
  width: 200px;
  font-size: 18px;
  text-align: left;
}

img {
  width: 300px;
}

  header span {
    display: inline;
  }

  img.mobile {
    width: 24px;
    height: auto;
    vertical-align: middle;
  }

  footer p {
    display: none;
  }

  footer a[href^="tel"] {
    display: block;
  }

}
