@media (max-width: 320px) {

  body {
    font-family: sans-serif;
    font-size: 24px;
  }

  p, address {
    line-height: 1.5;
  }

  #container {
    border: 0;
    max-width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  header h1 {
    font-size: 125%;
    line-height: 1.5;
  }

  header span {
    display: inline;
  }

  img.mobile {
    width: 24px;
    height: auto;
    vertical-align: middle;
  }

  footer p {
    display: none;
  }

  footer a[href^="tel"] {
    display: block;
  }

}
