@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Titillium+Web:400,700);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

body {
  background: url("../img/paisley.png");
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
}

#container {
  margin: 0 auto;
  width: 800px;
  border: 1px solid #222;
  padding: 2em;
  background: #fff;
  overflow: auto;
}

#container:after {
  display: block;
  content: "";
  clear: both;
}

.clearfix {
  overflow:auto;
  zoom: 1;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: rgb(236,109,69);
}


h2 {
  font-size: 25px;
  text-align: left;
  margin-top: 2em;
  color: rgb(236,109,69);
}

address {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 3em;
}

nav li{
  font-family: 'Titillium Web', sans-serif;
  display: inline;
  margin-right: 50px;
}

a:link {
  color: rgb(236,109,69);
}

a:visited {
  color: rgb(236,109,69);
}

p, li {
  font-family: 'Playfair Display', serif;
  font-weight:400;
}


img {
  border: 1px solid #222;
  float: left;
  margin-right: 1em;

}

section {
  clear: both;
  margin-bottom: 1em;
  overflow: auto;

}

section h2 {
  margin-top: 0;

}


@media (max-width: 320px) {
    #page {
    margin: 36px auto;
     width: 90%;
  }
<!-- end @media --!>}
